@import "tailwindcss";

@theme {

    /* ---- THEME COLORS ---- */
    --color-text: #ffffff;
    --color-background: #0B1026;
    --color-primary: #00D1FF;
    --color-secondary: #00FFA3;
    --color-tertiary: #A259FF;
    --color-accent: #FFD166;
    
    --color-danger: #d81857;
    --color-gray: #dfdfdf;


    /* ---- BADGE COLORS ---- */
    /* Default badge */
    --color-badge-default: #545454;
    --color-badge-bgdefault: var(--color-gray);
    /* Wishlist badge */
    --color-badge-wishlist: #6d044c;
    --color-badge-bgwishlist: #ff82d8;
    /* Backlog badge */
    --color-badge-backlog: #330b74;
    --color-badge-bgbacklog: var(--color-tertiary);
    /* Playing badge */
    --color-badge-playing: #054c5b;
    --color-badge-bgplaying: var(--color-primary);
    /* Completed badge */
    --color-badge-completed: #244004;
    --color-badge-bgcompleted: var(--color-secondary);
    /* Dropped badge */
    --color-badge-dropped: #570822;
    --color-badge-bgdropped: var(--color-danger);


    /* ---- BUTTON COLORS ---- */
    /* Primary color */
    --color-primarybutton-text: var(--color-text);
    --color-primarybutton-bg: var(--color-primary);
    --color-primarybutton-bghover: #6ae4ff;
    --color-primarybutton-bgactive: #0e9dbd;
    /* Secondary color */
    --color-secondarybutton-text: var(--color-text);
    --color-secondarybutton-bg: var(--color-secondary);
    --color-secondarybutton-bghover: #59ffc3;
    --color-secondarybutton-bgactive: #05bf7c;
    /* Danger color */
    --color-dangerbutton-text: var(--color-text);
    --color-dangerbutton-bg: var(--color-danger);
    --color-dangerbutton-bghover: #ff5089;
    --color-dangerbutton-bgactive: #820d34;


    /* ---- STAR RATING COLORS ---- */
    --color-filledstar: var(--color-accent);
    --color-emptystar: var(--color-badge-bgdefault);


    /* ---- SEARCH INPUT COLORS ---- */
    /* Icon color */
    --color-searchinput-icon: var(--color-text);
    /* Input colors */
    --color-searchinput-bg: var(--color-tertiary);
    --color-searchinput-placeholder: var(--color-text);
    /* Focus colors */
    --color-searchinput-focusborder: var(--color-gray);
    --color-searchinput-focusplaceholder: var(--color-gray);

    /* ---- ERROR MESSAGE ----*/
    --color-errorbg: #fef2f2;
    --color-errortext: var(--color-danger);
    --color-erroraccent: var(--color-dangerbutton-bgactive);

}

body {
    background-color: var(--color-background); 
}

.light {
    --color-background: #F3F4F6;
    --color-text: #111827;
}

/* ---- CUSTOM SCROLLBAR ---- */

/* Para navegadores basados en WebKit (Chrome, Edge, Safari, Opera) */
::-webkit-scrollbar {
    width: 6px;  
    height: 6px; 
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background-color: #4b5563; 
    border-radius: 10px; 
}

/* Para Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 transparent;
}