@import "tailwindcss";

@theme {

    /* ---- THEME COLORS ---- */
    --color-text: #F8FAFC;
    --color-background: #090B10; /* Obsidian */
    --color-primary: #0EA5E9; /* Sky Blue  */
    --color-secondary: #10B981; /* Emerald green */
    --color-tertiary: #8B5CF6; /* violet */
    --color-accent: #F59E0B; /* Amber gold */
    
    --color-danger: #EF4444; /* Rose red */
    --color-gray: #64748B;


    /* ---- BADGE COLORS ---- */
    /* Fondos oscuros saturados con texto luminoso */
    /* Default badge */
    --color-badge-default: #CBD5E1;
    --color-badge-bgdefault: #334155;
    /* Wishlist badge */
    --color-badge-wishlist: #D8B4FE;
    --color-badge-bgwishlist: #4C1D95;
    /* Queue badge */
    --color-badge-queue: #C4B5FD;
    --color-badge-bgqueue: #312E81;
    /* Playing badge */
    --color-badge-playing: #67E8F9;
    --color-badge-bgplaying: #164E63;
    /* Completed badge */
    --color-badge-completed: #86EFAC;
    --color-badge-bgcompleted: #14532D;
    /* Dropped badge */
    --color-badge-dropped: #FCA5A5;
    --color-badge-bgdropped: #7F1D1D;


    /* ---- BUTTON COLORS ---- */
    /* Primary color */
    --color-primarybutton-text: #FFFFFF;
    --color-primarybutton-bg: #0284C7;       
    --color-primarybutton-bghover: #0369A1;  
    --color-primarybutton-bgactive: #075985;
    /* Secondary color */
    --color-secondarybutton-text: #FFFFFF;
    --color-secondarybutton-bg: #047857;       
    --color-secondarybutton-bghover: #065F46;  
    --color-secondarybutton-bgactive: #064E3B;
    /* Danger color */
    --color-dangerbutton-text: #FFFFFF;
    --color-dangerbutton-bg: #B91C1C;       
    --color-dangerbutton-bghover: #DC2626;  
    --color-dangerbutton-bgactive: #991B1B;


    /* ---- STAR RATING COLORS ---- */
    --color-filledstar: var(--color-accent);
    --color-emptystar: #334155;


    /* ---- SEARCH INPUT COLORS ---- */
    /* Icon color */
    --color-searchinput-icon: #ffffff;
    /* Input colors */
    --color-searchinput-bg: #101828; 
    --color-searchinput-placeholder: #ffffff;
    /* Focus colors */
    --color-searchinput-focusborder: var(--color-primary);
    --color-searchinput-focusplaceholder: #ffffff;

    /* ---- ERROR MESSAGE ----*/
    --color-errorbg: #450A0A; 
    --color-errortext: #FCA5A5;
    --color-erroraccent: var(--color-dangerbutton-bgactive);


}

body {
    background-color: var(--color-background); 
}

.light {
    /* Fondo y texto principal */
    --color-background: #F3F4F6;
    --color-text: #111827;

    /* Invertir blanco y negro */
    --color-white: #111827; 
    --color-black: #ffffff; 

    /* Invertir la escala de grises de tailwind */
    --color-gray-950: #ffffff;
    --color-gray-900: #f9fafb;
    --color-gray-800: #e5e7eb;
    --color-gray-700: #d1d5db;
    --color-gray-600: #9ca3af;
    --color-gray-500: #6b7280;
    --color-gray-400: #4b5563;
    --color-gray-300: #374151;
    --color-gray-200: #1f2937;
    --color-gray-100: #111827;
    --color-gray-50:  #030712;

    /* Ajustes de componentes para Light Mode */
    --color-gray: #9ca3af; 
    
    /* Reajuste de badges para modo claro */
    /* fondos suaves, texto oscuro */
    --color-badge-default: #374151;
    --color-badge-bgdefault: #E5E7EB;
    
    --color-badge-wishlist: #6B21A8;
    --color-badge-bgwishlist: #F3E8FF;
    
    --color-badge-queue: #3730A3;
    --color-badge-bgqueue: #E0E7FF;
    
    --color-badge-playing: #155E75;
    --color-badge-bgplaying: #CFFAFE;
    
    --color-badge-completed: #166534;
    --color-badge-bgcompleted: #DCFCE7;
    
    --color-badge-dropped: #9F1239;
    --color-badge-bgdropped: #FFE4E6;

    /* Texto blanco en dangerbutton */
    --color-dangerbutton-text: #ffffff; 

    /* Suavizado del buscador en modo claro */
    --color-searchinput-bg: #ffffff;         
    --color-searchinput-icon: #4B5563;       
    --color-searchinput-placeholder: #3d444e;
    --color-searchinput-focusborder: var(--color-primary);
    --color-searchinput-focusplaceholder: #111827;
    
    /* Suavizado de errores en modo claro */
    --color-errorbg: #FEF2F2;
    --color-errortext: #B91C1C;
}

/* ---- CUSTOM SCROLLBAR ---- */

/* Para navegadores basados en WebKit (Chrome, Edge, Safari, Opera) */
::-webkit-scrollbar {
    width: 6px;  
    height: 6px; 
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background-color: #475569; 
    border-radius: 10px; 
}

/* Para Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #475569 transparent;
}

/* ---- NUMBER INPUT SPIN-BUTTONS ---- */

/* Para navegadores basados en WebKit (Chrome, Edge, Safari, Opera) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}